<nav class="sidebar sidebar-offcanvas" *ngIf="user$ | async as user">
	<ul class="nav" >
		<li class="nav-item nav-profile">
			<div class="nav-link">
				<div class="user-wrapper">
					<div class="profile-image">
            <img *ngIf="user.photoUrl" [src]="user.photoUrl" alt="profile image" />
						<img *ngIf="!user.photoUrl" src="assets/images/dummy-user.png" alt="profile image" />
					</div>

					<div class="text-wrapper">
						<p class="profile-name">{{ user.name }}</p>
						<div>
							<small class="designation text-muted">Marido</small>
						</div>
					</div>
				</div>
			</div>
		</li>

		<li class="nav-item">
			<a class="nav-link" routerLink="/">
				<i class="menu-icon fa fa-tachometer-alt"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" routerLink="/incomes-expenses">
				<i class="menu-icon fa fa-clipboard-list"></i>
				<span class="menu-title">Ganhos e Despesas</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" routerLink="/detail">
				<i class="menu-icon fa fa-table"></i>
				<span class="menu-title">Detalhes</span>
			</a>
		</li>

		<li class="nav-item">
			<a (click)="onLogout()" class="nav-link cursor">
				<i class="menu-icon fa fa-sign-out-alt"></i>
				<span class="menu-title">Sair</span>
			</a>
		</li>
	</ul>
</nav>
