<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Ganhos e Despesas</h4>

				<table class="table">
					<thead>
						<tr>
							<th>Descrição</th>
							<th>Quantidade</th>
							<th>Tipo</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor="let item of incomesExpenses$ | async">
							<td>{{ item.description }}</td>
							<td>{{ item.amount }}</td>
							<td>{{ item.type | type}}</td>
							<td>Ações</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
