<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Incluir Ganho / Despesa</h4>
				<p class="card-description">Especificar quantidade e tipo</p>

				<form>
					<div class="form-group">
						<label>Descrição</label>
						<input
							type="text"
							class="form-control"
							placeholder="Descrição"
							name="description"
						/>
					</div>

					<div class="form-group">
						<label>Quantidade</label>
						<input
							type="number"
							class="form-control"
							placeholder="Quantidade"
							name="amount"
						/>
						<p>A Quantidade deve ser positiva</p>
					</div>

					<div class="form-group">
						<label>Tipo</label>
						<br />
						<button type="button" class="btn btn-primary btn-block">
							Ganho
						</button>
						<!-- <button type="button" class="btn btn-warning btn-block">Egreso</button> -->
					</div>

					<hr />
					<button type="button" class="btn btn-success mr-2">
						<i class="fa fa-save"></i>
						Incluir
					</button>

					<!--
              <button disabled class="btn btn-success mr-2">
                <i class="fa fa-spin fa-sync"></i>
                Espere por favor...
              </button>
            -->

					<button type="reset" class="btn btn-light">Cancelar</button>
				</form>
			</div>
		</div>
	</div>
</div>
