<div class="page-body-wrapper full-page-wrapper auth-page">
	<div
		class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one"
	>
		<div class="row w-100">
			<div class="col-lg-4 mx-auto">
				<h2 class="text-center mb-4" style="color: white">Login</h2>
				<div class="auto-form-wrapper">
					<form [formGroup]="loginForm">
						<div class="form-group">
							<label class="label">E-mail</label>
							<div class="input-group">
								<input
									type="email"
									formControlName="email"
									[ngClass]="{ invalid: commonService.validEmail(loginForm) }"
									class="form-control"
									placeholder="E-mail"
									required
								/>
								<div class="input-group-append">
									<span class="input-group-text">
										<i
											[ngClass]="{
												valid: loginForm.controls.email.valid
											}"
											class="fa fa-check-circle"
										></i>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="label">Senha</label>
							<div class="input-group">
								<input
									type="password"
									formControlName="password"
									class="form-control"
									placeholder="*********"
									required
								/>
								<div class="input-group-append">
									<span class="input-group-text">
										<i
											[ngClass]="{
												valid: loginForm.controls.password.valid
											}"
											class="fa fa-check-circle"
										></i>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button
								[disabled]="!loginForm.valid"
								(click)="onSubmit()"
								class="btn btn-primary submit-btn btn-block"
							>
								<i class="bi bi-box-arrow-in-right"></i>
								Entrar
							</button>
						</div>
						<div class="form-group">
							<button (click)="loginWithGoogle()" class="btn btn-danger submit-btn btn-block">
								<i class="bi bi-google"></i>
								Faça login com o Google
							</button>
						</div>
						<div class="text-block text-center my-3">
							<span class="text-small font-weight-semibold"
								>Não está cadastrado?
							</span>

							<a routerLink="/register" class="text-small">Criar uma conta</a>
						</div>
						<div class="text-block text-center my-3">
							<a routerLink="/forgot-password">Esqueceu a senha ?</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- content-wrapper ends -->
</div>
