@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons';

body .valid {
	color: #51ee51;
}

body .invalid {
	color: #cc4040;
}

body .cursor {
	cursor: pointer;
}
